.main{
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: $grey;
  }

.page{
    height: 100%;
    width: 80%;
    margin: auto;
}

.animation{
    &.in{
        animation: slideIn 0.5s;
    }
    
    &.out{
        animation: slideOut 0.5s;
        animation-delay: 0.3s;
    }
}


@keyframes slideIn {
    from{
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slideOut {
    to{
        opacity: 0;
    }
}

