.btn{
    background-image: linear-gradient(to right, #FF9238,#DE6E33);
    border: none;
    color: $white;
    padding: 15px 32px;
    margin: 15px 0;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
    letter-spacing: 0.8px;
    border-radius: 33px;
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;

    &:hover{
        background-color: $light-orange;
    }
}

input.btn{
    width: 100%;
}