
slick {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
}
.card {
    max-width: 310px;
    width: 70vw;
    height: 100vw;
    background-color: $white;
    margin: 5vh 0;
    text-align: center;
    align-content: space-between;
    justify-content: space-around;
    img {
        height: 70vw;
        border-top: 2px solid $light-orange;
    }
}