input,input[type=text] {
    // width: 100%;
    padding: 22px 22px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    width: min-content;
  }

  .input-item{
      padding: 0 8px;
      width: 100%;
      display: flex;
      align-items: center;

      label{
          font-family: 'Open Sans', sans-serif;
          font-weight: 800;
          text-align: left;
          min-width: 50px;
          white-space: nowrap;
      }

      input{
          font-size: 1rem;
          color: $grey;
          box-shadow: 0px 2px 10px 1px #7272729c;
          &::placeholder {
            color: $black;
            opacity: 0.3;
          }
          &.black{
            &::placeholder {
              opacity: 1;
            }
          }
      }

      &.large-label{
        input{
            width: 30%;
        }
    }
  }

  //Form elements inside white content block

  .content input[type=text]{
    padding: 5px 16px;
    box-shadow: none;
  }
  .errormessage{
    color: red !important;
    font-weight: bold !important;
  }
  .errorfield{
    border: 2px solid red !important;
  }